<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>My portfolio</title>
	<link rel="stylesheet" href="../Static/Styles/style.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<nav class="nav">
			<a href="../index.html" class="nav-logo">Kamal.</a>
			<div class="nav-links">
				<a class="nav-link" href="./blog.html">Blogs</a>
				<a class="nav-link" href="./contact.html">Contact</a>
			</div>
		</nav>
		</div>
	</header>
	<main>
		<section class="section-blogs">
			<div class="container">
				<a href="blog.html" class="nav-link">Back to blogs.</a>
			</div>
			<div class="container">
				<div class="blog-detail">
					<div class="blog-img">
						<img src="../Static/Images/server2.jpg" alt="" class="img-responsive">
					</div>
					<div class="blog-text-info">
    					<h4 class="blog-title">Web Servers</h4>
    					<p class="blog-subtitle">Web servers are programs that provide documents to requesting browsers identified using URLs. Servers are slave Programs.</p>
    					<span class="blog-date">1 March 2022</span>
    					<div class="blog-para">
    						<p class="blog-paragraph">
    							Web servers are programs that provide documents to requesting browsers identified using URLs. Servers are slave Programs : They act only when requests are made to them by browser running on others computers on the Internet. The most commonly used Web servers are Apache , which runs under Windows operating systems.
    						</p>
    						<p class="blog-paragraph">
    							First, Web browsers initiate network communications with servers by sending URLs. One of two different things can be specified by URL: the address of data file stored on the server or a stored program on the server that clients wants executed and the output of the program returned to the client. The standard Web protocol HTTP(Hypertext Transfer Protocol), is responsible for all the communication between Web client and Web servers. When Web server begins execution , it informs the operating system under which it is running that it is now ready to accept incoming network connections through a specific port on the machine. In this running state , the server runs as a background process in the operating system. Then a network connection is established between Web client or browser and Web server. And sends information requests and possibly data to the server, receives information from the server and close the connection.
    						</p>
    						<p class="blog-paragraph">
    							Document root is he file structure of the serer has two separate directories. The root of one of this is document root. Server root is another root directory of web server file structure. Virtual document tree: Many servers allow a part of the servable document stored out side of the document root this is called virtual document tree. Virtual hosts: many servers can support more than one site on a computer potentially reducing the cost of each site and makes their maintenance more convenient. such secondary hosts are called virtual hosts. Proxy server: some servers can serve documents that are in the document root of the other machines are on the web are called proxy servers. Web servers not only support HTTP but also ftp, Gopher, News and mail.
    						</p>
    					</div>
    				</div>
				</div>
			</div>
		</section>
	</main>						
	<footer class="footer">
		<div class="container">
			<div class="flex-row">
	          <div class="column">
	            <p class="nav-link">&copy; Kamal Lamichhane 2022</p>
	          </div>
	          <div class="column">
	            <div class="social-links">
	              <a href="https://www.facebook.com/kamal.lamichhane.5203" class="nav-link" target="_blank">Facebook</a>
	              <a href="https://www.linkedin.com/in/kamal-lamichhane-07224917b/" class="nav-link" target="_blank">Linkedin</a>
	              <a href="https://twitter.com/KamalLa71156844" class="nav-link" target="_blank">Twitter</a>
	              <a href="https://github.com/KamalLC" class="nav-link" target="_blank">Github</a>
	            </div>
	          </div>
	        </div>
		</div>
	</footer>
</body>
</html>