<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" href="../Static/Styles/style.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<nav class="nav">
			<a href="../index.html" class="nav-logo">Kamal.</a>
			<div class="nav-links">
				<a class="nav-link" href="./blog.html">Blogs</a>
				<a class="nav-link" href="./contact.html">Contact</a>
			</div>
		</nav>
		</div>
	</header>
	<main>
		<section class="contact">
			<div class="contact-container">
				<div class="title">
					<h3 class="nav-logo">Contact Us</h3>
				</div>
			</div>

			<div class="contact-container">
				<div class="name">
					<label class="blog-title">Full Name</label>
					<br>
					<input type="text">
				</div>
			</div>

			<div class="contact-container">
				<div class="email">
					<label class="blog-title">Email</label>
					<br>
					<input type="text">
				</div>
			</div>

			<div class="contact-container">
				<div class="message">
					<label class="blog-title">Message</label>
					<br>
					<input type="text" id="area" name=""><br><br><br>
					<button id="sendMessage">Send Message</button>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="flex-row">
	          <div class="column">
	            <p class="nav-link">&copy; Kamal Lamichhane 2022</p>
	          </div>
	          <div class="column">
	            <div class="social-links">
	              <a href="https://www.facebook.com/kamal.lamichhane.5203" class="nav-link" target="_blank">Facebook</a>
	              <a href="https://www.linkedin.com/in/kamal-lamichhane-07224917b/" class="nav-link" target="_blank">Linkedin</a>
	              <a href="https://twitter.com/KamalLa71156844" class="nav-link" target="_blank">Twitter</a>
	              <a href="https://github.com/KamalLC" class="nav-link" target="_blank">Github</a>
	            </div>
	          </div>
	        </div>
		</div>
	</footer>
</body>
</html>