<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>My portfolio</title>
	<link rel="stylesheet" href="../Static/Styles/style.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<nav class="nav">
			<a href="../index.html" class="nav-logo">Kamal.</a>
			<div class="nav-links">
				<a class="nav-link" href="./blog.html">Blogs</a>
				<a class="nav-link" href="./contact.html">Contact</a>
			</div>
		</nav>
		</div>
	</header>
	<main>
		<section class="section-blogs">
			<div class="container">
				<a href="blog.html" class="nav-link">Back to blogs.</a>
			</div>
			<div class="container">
				<div class="blog-detail">
					<div class="blog-img">
						<img src="../Static/Images/tiger2.jpg" alt="" class="blog-post-img">
					</div>
					<div class="blog-text-info">
    					<h4 class="blog-title">Computational Simulation</h4>
    					<p class="blog-subtitle">A computational simulation is a dynamic, process-oriented model instantiated on a computer. These can range from traditional economic models (expressed as equations) to more abstract constructs and processes.</p>
    					<span class="blog-date">1 March 2022</span>
    					<div class="blog-para">
    						<p class="blog-paragraph">
    							OOP framework is different from the traditional conventional behavior of computer. Traditional model can be viewed as the computer is a data manager, following some pattern of instructions, wandering through memory, pulling values out of various memory transforming them in some manner, and pushing the results back into other memory
    						</p>
    						<p class="blog-paragraph">
    							The behavior of a computer executing a program is a process-state or pigeon-hole model. By examining the values in the slots, one can determine the state of the machine or the results produced by a computation. This model may be a more or less accurate picture of what takes place inside a computer. Real word problem solving is difficult in the traditional model.
    						</p>
    						<p class="blog-paragraph">
    							In Object Oriented Model we speak of objects, messages, and responsibility for some action. We never mention memory addresses, variables, assignments, or any of the conventional programming terms. This model is process of creating a host of helpers that forms a community and assists the programmer in the solution of a problem (Like in flower example).
    						</p>
    					</div>
    				</div>
				</div>
			</div>
		</section>
	</main>						
	<footer class="footer">
		<div class="container">
			<div class="flex-row">
	          <div class="column">
	            <p class="nav-link">&copy; Kamal Lamichhane 2022</p>
	          </div>
	          <div class="column">
	            <div class="social-links">
	              <a href="https://www.facebook.com/kamal.lamichhane.5203" class="nav-link" target="_blank">Facebook</a>
	              <a href="https://www.linkedin.com/in/kamal-lamichhane-07224917b/" class="nav-link" target="_blank">Linkedin</a>
	              <a href="https://twitter.com/KamalLa71156844" class="nav-link" target="_blank">Twitter</a>
	              <a href="https://github.com/KamalLC" class="nav-link" target="_blank">Github</a>
	            </div>
	          </div>
	        </div>
		</div>
	</footer>
</body>
</html>